apiVersion: batch/v1
kind: CronJob
metadata:
  name: trading-bot
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
            - name: ghcr-secret
          containers:
            - name: trading-bot
              image: ghcr.io/terabyite/trading-bot:latest
          restartPolicy: Never
