apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: crypto-platform
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          # Frontend (React)
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80

          # Backend API
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: trading-bot
                port:
                  number: 8000